@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: rgb(56, 12, 56);
}

.container {
	margin: 0 auto;
	height: 100vh;
}

.header-div {
	padding: 24px;
	background-color: pink;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	color: purple;
	font-weight: 300;
	text-align: center;
	font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
}

.about {
	font-weight: 500;
	text-align: left;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
	padding: 0 20px;
	color: rgb(82, 20, 42);
	z-index: 20;
	height: auto;
	max-height: fit-content;
	transform-origin: top;
	transition: max-height 2s ease-in;
}

.hide {
	display: none;
	transition: 2s ease-out;
}

.api-credit {
	text-decoration: none;
	color: rgb(109, 49, 109);
	font-weight: 700;
}

.api-credit:hover {
	text-decoration: underline;
}

main {
	margin: 0 auto;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	padding: 40px;
	height: auto;
}

.main-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.action-btn {
	padding: 8px 24px;
	border-radius: 6px;
	font-weight: 600;
	font-family: "Poppins";
	font-size: 20px;
	color: maroon;
	background: pink;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.action-btn:hover {
	background: rgb(82, 20, 42);
	color: palevioletred;
	transition: ease 0.25s;
}

.action-btn:active {
	transform: scale(0.96);
}

.filter-btns {
	padding: 16px;
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
}

.filter-btn {
	padding: 4px 24px;
	background: pink;
	font-family: "Poppins";
	font-weight: 400;
	border: none;
	cursor: pointer;
	transition: ease 0.25s;
}

.filter-btn:hover {
	background: palevioletred;
	font-weight: 600;
	transition: ease-in-out 0.25s;
}

.img-wrap {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	display: none;
	width: 50%;
}

.picture {
	padding: 24px;
}

.picture::after {
	height: 250px;
	width: 200px;
}

@media screen and (max-width: 600px) {
	.action-btn {
		font-size: 18px;
		transition: 0.7s ease;
	}
}

/* FOOTER */

.footer {
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 4.8rem;
	padding: 2.4rem 4.8rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(94, 52, 66);
	text-align: center;
	background-color: #000000;
	opacity: 0.9;
}

span.text-1 {
	padding-bottom: 0.64rem;
}

span.text-2 {
	font-size: 0.9rem;
	font-weight: 400;
}

.small-text {
	font-size: 0.8rem;
	font-weight: 300;
	color: palevioletred;
	text-decoration: none;
}

.small-text:hover {
	text-decoration: underline;
	cursor: pointer;
	font-weight: 500;
}
